@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

img {
	border: 55px;
	border-color: black;
}

.sudo { 
	text-indent: 70px; 
	color: #74808a;
	font-size: 0.9em;
} 

@keyframes dropHeader {
	0% {
		transform: translateY(-100%)
	}
	100% {
		transform: translateY(0)
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: right;
	z-index: 10;
	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s
}

header ul {
	display: inline-block;
	background: black;
	text-align: center;
	padding: 10px;
	margin: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

header li {
	display: inline-block
}

header a {
	display: block;
	color: #fff;
	padding: 10px
}

header a:hover {
	color: #950740;
	text-decoration: none;
	background: #eee;
	border-radius: 4px
}

header a:focus {
	color: #950740;
	text-decoration: none
	background: #fff;
}

header.active {
	display: block
}

header.sticky {
	position: fixed;
	z-index: 999
}

#menu.active {
	display: block
}

#mobile-menu-open {
	display: none;
	cursor: pointer;
	position: fixed;
	right: 15px;
	top: 10px;
	color: #6F2232;
	font-size: 1.5em;
	z-index: 20;
	padding: 0 7px;
	border-radius: 4px;
	background: #fff;
}

#mobile-menu-close {
	display: none;
	text-align: right;
	width: 100%;
	background: black;
	font-size: 2.5em;
	padding-right: 15px;
	padding-top: 10px;
	cursor: pointer;
	color: #6F2232;
}

#mobile-menu-close span {
	font-size: 0.5em;
}

#mobile-menu-close i {
	vertical-align: middle
}
.shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
	position: relative;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0 0
}

.heading:after {
	position: absolute;
	content: '';
	top: 100%;
	height: 1px;
	width: 110px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #74808a;
}

#main {
	background: url('backgroundimage3.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 15px;
	overflow: hidden;
	height: 100vh;
	min-height: 500px;
	max-height: 1080px;
	position: relative;
}

#main-content {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	text-align: center;
}

#main-content h1 {
	color: white;
	font-weight: 900;
	font-size: 7em;
	text-transform: lowercase;
	letter-spacing: 0.05em;
	line-height: 0.9em;
}

#main-content h2 {
    color: white;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px;
}

#main-content h1, #main-content h2 {
	margin: 0;
}

#main-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(78, 78, 80, 0.5);
    z-index: 1;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

#about {
	background: #1a1a1d;
	padding-top: 12rem;
	padding-bottom: 15rem;
	text-align: center;
}
#about .heading:after {
	width: 90px;
}
#about .section-intro {
	margin-bottom: 1rem;
}

.intro-info {
	margin-top: 4.2rem;
	margin-right: -30px;
	margin-left: -30px;
}
.intro-info {
	text-align: center;
	font-family: "lora-regular", serif;
	font-size: 2rem;
	line-height: 1.4;
	font-weight: normal;
	color: #4e4e50;
}

.about-content {
	position: relative;
	text-align: left;
	margin-bottom: 3.6rem;
}

.heading2 {
	font-family: 'opensans-bold', sans-serif;
	font-size: 2.8rem;
	color: white;
	line-height: 1.25;
	margin-bottom: 1.2rem;
	letter-spacing: -1px;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	background: transparent;
	padding: 0;
	outline: 0;
	border: 0;
}
.about-content h3 {
	font-family: "poppins-bold", sans-serif;
	font-size: 2.6rem;
	letter-spacing: .25rem;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
.about-content .profile {
	font-family: 'opensans-regular', sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #838C95;

}
.about-content .info-list {
	list-style: none;
	margin-left: -40px;
}
.about-content .info-list li {
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}
.about-content .info-list li strong {
	font-family: "poppins-bold", sans-serif;
	color: #950740;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 3rem;
}
.about-content .info-list li span {
	display: block;
	font-family: "poppins-regular", sans-serif;
	color: #888888;
	font-size: 1.5rem;
	line-height: 1;
}

.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 20px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
    width: 250px;
    margin-top: 20px;
    margin-right: 4rem;
    font-size: 1.8rem;
}

.btn-rounded-white:hover {
	color: #fff;
	background: #6F2232;
	text-decoration: none
}



#about {
	padding: 50px 15px;
	border-bottom: 1px solid #dcd9d9
}

#about h2 {
	color: #374054
}

#about p {
	color: #74808a;
	margin: 0
}

#about img {
	height: auto;
}

#experience {
	padding: 50px 15px;
	text-align: center;
	border-bottom: 1px solid #dcd9d9
}

#experience-timeline {
	margin: 30px auto 0 auto;
	position: relative;
	max-width: 1000px
}

#experience-timeline:before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 303px;
	right: auto;
	height: 100%;
	width: 3px;
	background: #6F2232;
	z-index: 0
}

#experience-timeline:after {
	position: absolute;
	content: '';
	width: 3px;
	height: 40px;
	background: #3498db;
	background: linear-gradient(to bottom, #6F2232, rgba(52, 152, 219, 0));
	top: 100%;
	left: 303px
}

.vtimeline-content {
	margin-left: 350px;
	background: #fff;
	border: 1px solid #e6e6e6;
	padding: 15px;
	border-radius: 3px;
	text-align: left
}

.vtimeline-content h3 {
	font-size: 1.5em;
	font-weight: 500;
	color: black;
	display: inline-block;
	margin: 0
}

.vtimeline-content .h03 {
	font-size: 1.5em;
	font-weight: 500;
	color: #950740;
	display: inline-block;
	margin: 0
}

 .vtimeline-content a:hover {
	color: black;
	text-decoration: none;
	background: #eee;
	border-radius: 4px
}

.vtimeline-content h4 {
	font-size: 1.2em;
	font-weight: 400;
	color: black;
	margin: 0 0 15px 0
}

.vtimeline-content p {
	color: #74808a;
	font-size: 1.0em;
	margin: 0
}

.vtimeline-point {
	position: relative;
	display: block;
	vertical-align: top;
	margin-bottom: 30px
}

.vtimeline-icon {
	position: relative;
	color: #fff;
	width: 50px;
	height: 50px;
	background: #6F2232;
	border-radius: 50%;
	float: left;
	z-index: 99;
	margin-left: 280px
}

.vtimeline-icon i {
	display: block;
	font-size: 2em;
	margin-top: 10px
}

.vtimeline-date {
	width: 260px;
	text-align: right;
	position: absolute;
	left: 0;
	top: 10px;
	font-weight: 400;
	color: black;
}

#education {
	padding: 50px 15px;
	text-align: center;
	border-bottom: 1px solid #dcd9d9
}

#projects {
	padding: 50px 15px;
	border-bottom: 1px solid #dcd9d9;
	text-align: center;
	background: black;
}

#projects h2 {
	color: #374054;
	margin-bottom: 50px
}

.project {
	position: relative;
	margin: 0 auto 30px auto;
	overflow: hidden;
	background: black;
	border-radius: 4px
}

.project-image {
	float: left;
	margin-right: 700px;
}

.project-info {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 500px;
	padding: 5px
}

.project-info h3 {
	font-size: 1.7em;
	font-weight: 300;
	color: white;
	margin: 0 0 15px 0
}

.project-info p {
	color: #74808a;
	margin: 0 0 15px 0;
	font-size: 0.9em
}

.no-image .project-info {
	position: relative;
	margin: 0;
	padding: 30px 15px;
	transform: none
}

#more-projects {
	display: none
}

#skills {
	padding: 50px 15px;
	text-align: center;
	background: black;
}

#skills h2 {
	color: #374054;
	margin-bottom: 50px
}

#skills ul {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 800px
}

#skills li {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: #374054;
	background: #e4e4ea;
	list-style: none;
	cursor: default;
	font-size: 1.2em
}

footer {
	padding: 50px 0;
	background: black;
}

.copyright {
	padding-top: 20px
}

.copyright p {
	margin: 0;
	color: #74808a
}

.top {
	text-align: center
}

.top span {
	cursor: pointer;
	display: block;
	margin: 15px auto 0 auto;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 3px solid #b9bfc4;
	text-align: center
}

.top i {
	color: #74808a
}

@media only screen and (max-width: 750px) {
	#experience-timeline:before,
	#experience-timeline:after {
		left: 23px
	}
	.vtimeline-date {
		width: auto;
		text-align: left;
		position: relative;
		margin-bottom: 15px;
		display: block;
		margin-left: 70px
	}
	.vtimeline-icon {
		margin-left: 0
	}
	.vtimeline-content {
		margin-left: 70px
	}
}
@media only screen and (max-width: 1424px) {
	.project-image {
		width: 40%;
	}
}

@media only screen and (max-width: 992px) {
	#main {
		height: auto;
		min-height: auto;
		max-height: auto;
		padding: 100px 15px
	}
	#main-content {
		position: relative;
		transform: none;
		left: auto;
		top: auto
	}
	#main-content h1 {
		font-size: 3em
	}
	#main-content h2 {
		font-size: 1.75em
	}
	.main-social {
		display: none;
	}
	#scroll {
		display: none
	}
	#aboutme {
		text-align: center
	}
	#aboutme p {
		text-align: left
	}
	.project-image {
		display: none
	}
	.project-info {
		position: relative;
		margin: 0;
		padding: 30px 15px;
		top: auto;
		transform: none
	}
	footer {
		text-align: center
	}
	.social {
		text-align: center
	}
}

@media only screen and (max-width: 768px) {
	header {
		position: fixed;
		display: none;
		z-index: 999;
		animation: none;
		bottom: 0;
		height: 100%
	}
	#mobile-menu-open,
	#mobile-menu-close {
		display: block
	}
	#menu {
		height: 100%;
		overflow-y: auto;
		box-shadow: none;
		border-radius: 0;
		width: 100%
	}
	#menu li {
		display: block;
		margin-bottom: 10px
	}
	#main-content h1 {
		font-size: 2em
	}
	#main-content h2 {
		font-size: 1.3em
	}
	#main-content a {
		padding: 10px 20px
	}
	.main-social {
		display: none;
	}
	#scroll {
		display: none
	}
	.education-block h3,
	.education-block span {
		float: none
	}
	.project-image {
		display: none
	}
	.project-info {
		position: relative;
		margin: 0;
		padding: 30px 15px;
		top: auto;
		transform: none
	}
	footer {
		text-align: center
	}
	.social {
		text-align: center
	}
}

@media only screen and (max-width: 480px) {
	#main-content h1 {
		font-size: 1.5em
	}
	#main-content h2 {
		font-size: 1em
	}
	#main-content a {
		font-size: 0.9em;
		padding: 5px 10px
	}
	.main-social {
		display: none;
	}
}

#fade-in {
    -webkit-animation: fadein ease 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein ease 5s; /* Firefox < 16 */
        -ms-animation: fadein ease 5s; /* Internet Explorer */
         -o-animation: fadein ease 5s; /* Opera < 12.1 */
            animation: fadein ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

.fade {
  margin: 50px;
  padding: 50px;
  opacity: 1;
}
